body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/319/190/501/carbon-fiber-minimalism-gray-black-background-dark-hd-wallpaper-preview.jpg"); /* Replace with the actual path to your image */
    /*https://c4.wallpaperflare.com/wallpaper/413/925/249/minimalism-abstract-pattern-digital-art-wallpaper-preview.jpg
    https://c4.wallpaperflare.com/wallpaper/9/737/99/carbon-fiber-textured-texture-minimalism-wallpaper-preview.jpg
    https://c4.wallpaperflare.com/wallpaper/442/14/493/abstract-texture-pattern-design-wallpaper-preview.jpg
    
    */
    background-size: cover; /* Adjust background size as needed */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000;
    color: #fff;
}

header {
    background-color: rgb(1, 12, 11);
    color: #ffffffdd;
    text-align: center;
    padding: 0.5rem;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}

input[type="number"],
select {
    padding: 0.25rem;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.973); /* Ash color with 70% transparency */
    color: #000; /* Black text color */
}

button {
    background-color: rgb(46, 92, 73);
    color: #ffffffe2;
    border: 2px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    border-radius: 2.5px;
}

button:hover {
    background-color: #2980b9;
}

#courses-list {
    border-top: 1px solid #cccccce6;
    margin-top: 1rem;
    padding-top: 1rem;
}

.course-form {
    display: flex;
    align-items: center;
    margin-bottom: 0.2rem; /* Decrease the margin */
    padding: 0.2rem; /* Decrease the padding */
    background-color: #7b898e8d;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.course-form label,
.course-form select {
    margin: 0;
    font-size: 12px;
    margin-top: 0; /* Remove the top margin */
    margin-bottom: 0; /* Remove the bottom margin */
}

.course-form label {
    margin-right: 6x;
    color: #000; /* Black text color */
}

.course-form select {
    margin: 0;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 4px; /* Adjust the top margin */
    margin-bottom: 4px; /* Adjust the bottom margin */
}

.course-form label[for^="course-credits"] {
    margin-right: 20px; /* Increase the margin for "Credits" label */
}

.result-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
}

.result-item {
    flex: 1;
    text-align: center;
}

.center-button {
    text-align: center;
    margin-top: 1rem;
}

.course-label {
    display: inline-block;
    margin: 12px;
    width: 60px; /* Set a fixed width for course label */
    color: #000; /* Set the color to black */
    font-size: 12px;
}


@media (max-width: 768px) {
    
    main {
        padding: 0.5rem; /* Adjust padding for smaller screens */
    }

    
    .course-form {
        flex-direction: column; /* Stack form elements vertically */
        align-items: center; /* Center align form elements horizontally */
    }

    .course-form label,
    .course-form select {
        margin: 0.25rem 0; /* Add vertical margin to separate elements */
        text-align: center; /* Center align text within the form elements */
    }

    .course-form p.course-label {
        margin: 0; /* Remove margin for course label */
    }
    
    .task-container {
      flex-direction: column;
    }
  
    #add-task {
      margin-top: 10px;
      border-radius: 8px;
    }

  }
  
  /* Prevent zooming out on mobile devices */
  
  @media (max-width: 768px) {
    body {
      zoom: 1;
      -moz-transform: scale(1);
      -moz-transform-origin: 0 0;
      -o-transform: scale(1);
      -o-transform-origin: 0 0;
      -webkit-transform: scale(1);
      -webkit-transform-origin: 0 0;
    }
  }
  
  

  